<div class="flex justify-center mt-10">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-300 rounded-md shadow">
        <h5 class="text-xl font-medium text-gray-900 text-center mb-5">
            Crea tu cuenta
        </h5>
        <form [formGroup]="initialForm" (ngSubmit)="handleSubmit($event)" class="space-y-6">
            <app-input name="name" type="text" placeholder="Nombres" controlName="name"
                (formControlChange)="handleFormControl('name', $event)" />
            <input type="email" placeholder="Email" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md outline-none focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5">
            <input type="password" placeholder="Contraseña" formControlName="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md outline-none focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5">
            <input type="password" placeholder="Repita Contraseña" formControlName="confirmPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md outline-none focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5">
            <button type="submit"
                class="w-full text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-md text-sm px-5 py-2.5 text-center">
                Crea tu cuenta
            </button>
        </form>
    </div>
</div>